{% extends "base/base.html" %} {% block contenido %} {% load static %}
<div class="p-3 my-3 mt-3">
  <h1 class="text-center blue_colegio font-weight-bold mb-3">
    ¡Te damos la más cordial bienvenida a nuestro colegio!
  </h1>
  <hr class="my-1 blue_colegio" style="border-top: 2px solid; opacity: 1" />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 gx-5 mb-4">
      <div
        class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
        data-mdb-ripple-color="light"
      >
        <img
          src="{% static 'img/talleres/Escuela.jpg' %}"
          class="img-fluid rounded shadow"
        />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
    </div>

    <div class="col-md-6 gx-5 mb-4">
      <h4 class="mb-3 blue_colegio"><strong>¿Quiénes Somos?</strong></h4>
      <p class="text-muted" align="justify">
        El Colegio Jeanne D'Arc fue establecido el 1° de mayo de 1981 y desde
        entonces nos hemos dedicado a brindar educación de calidad. En la
        actualidad, ofrecemos programas educativos desde pre kínder hasta 8°
        básico, atendiendo a una matrícula de 320 estudiantes.
      </p>
      <h4><strong class="mb-5 blue_colegio">Misión</strong></h4>
      <p class="text-muted" align="justify">
        Nuestra misión es proporcionar una educación de calidad que inspire el
        aprendizaje, fomente el desarrollo personal y prepare a los estudiantes
        para enfrentar los desafíos del mundo con confianza y comprensión. Nos
        comprometemos a crear un entorno educativo enriquecedor que estimule la
        curiosidad y promueva valores éticos.
      </p>
    </div>
  </div>
  <section class="text-center mt-5 mb-5">
    <h4 class="mb-5 blue_colegio">
      <strong
        ><i class="fa-solid fa-wand-magic-sparkles"></i> Nuestros
        Talleres</strong
      >
      <hr />
    </h4>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/soccer.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Fútbol</h5>
            <p class="card-text">
              El taller de fútbol está integrado por una sección masculina y
              otra femenina.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/reposteria.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Repostería</h5>
            <p class="card-text">
              Este taller se enfoca en la elaboración de postres sencillos y en
              el aprendizaje de las técnicas de repostería.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/apoyopedagogico.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Apoyo Pedagógico</h5>
            <p class="card-text">
              Este taller está diseñado para brindar apoyo a aquellas personas
              que enfrentan dificultades para aprender de manera rápida.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/banda1.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Banda</h5>
            <p class="card-text">
              El taller de banda involucra a un conjunto de estudiantes que
              tocan instrumentos musicales en conjunto.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/misioneros.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Misioneros</h5>
            <p class="card-text">
              Reune a jóvenes entusiastas de diferentes grados que mostraron un
              profundo interés en compartir la fé y brindar apoyo a comunidades
              necesitadas.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/robotica.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Robótica</h5>
            <p class="card-text">
              Es una forma de acercar a los niños a la ciencia de las
              tecnologías.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/karate.jpeg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Karate</h5>
            <p class="card-text">
              El taller tiene como objetivo utilizar el karate para complementar
              los aprendizajes y el desarrollo social, psicológico y motriz de
              los estudiantes.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/basquetbol.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Basquétbol</h5>
            <p class="card-text">
              El taller de basquétbol es una forma de acercar a los alumnos a la
              realización y manipulación de un balón deportivo, lo cual les
              permite desarrollar su motrocidad fina, coordinación y trabajo en
              equipo.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{% static 'img/talleres/caporales_danza.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title blue_colegio">Caporales</h5>
            <p class="card-text">
              El taller de caporales está diseñado para conectar a los alumnos
              con la pasión de la danza.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row w-100">
    <h2 class="blue_colegio">
      <i class="fa-solid fa-location-dot"></i> Nuestra Ubicación
    </h2>
    <hr class="blue_colegio" />
    <div class="col-lg-6 my-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d812.3851842586823!2d-71.59018867126223!3d-33.036469031040774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e0b14c7c76e7%3A0x1294a82a30eff8a3!2sColegio%20Jeanne%20D&#39;Arc!5e0!3m2!1ses!2scl!4v1697395052938!5m2!1ses!2scl"
        class="w-100"
        height="400"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="col-lg-6 my-4 d-flex align-items-center">
      <div>
        <h5 class="blue_colegio">
          <i class="fa-regular fa-rectangle-list"></i> Ofrecemos:
        </h5>
        <p>
          Servicios educativos desde Pre Kínder hasta 8° Básico, abarcando las
          etapas cruciales del desarrollo académico.
        </p>
        <h5 class="blue_colegio">
          <i class="fa-regular fa-clock"></i> Horarios:
        </h5>
        <p>
          Tenemos jornadas educacionales tanto en la mañana como en la tarde.
        </p>
        <h5 class="blue_colegio">
          <i class="fa-solid fa-caret-right"></i> Visítenos:
        </h5>
        <p>
          ¡Le invitamos a visitar nuestras instalaciones y conocer de cerca lo
          que ofrecemos!
        </p>
        <p>
          Programe una visita para obtener respuestas a cualquier pregunta que
          pueda tener sobre nuestra institución educativa.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
