{% extends "base/base.html" %} {% block contenido %} {% load static %}
<h1 class="pt-5 pb-3 blue_colegio">
    <i class="fa-solid fa-book"></i> Reglamento Escolar
  </h1>
  <hr class="my-1 blue_colegio" style="border-top: 2px solid; opacity: 1" />
  <div>
    <p class="mb-5">
      Estimadas familias,
      <br />
      En esta sección podrán visualizar y descargar el reglamento escolar.
    </p>
  </div>
  <div class="container pb-5">
      <div class="d-flex justify-content-center">
        {% for reglamento in reglamento1 %}
          <embed src='{{ reglamento.archivo.url }}' width='100%' height='700'  type="application/pdf" />
           <!-- <p>This browser does not support PDFs. Please download the PDF to view it: <a href="{{ reglamento.archivo.url }}">Download PDF</a>.</p>
          </embed>-->
          
            <!--<object data="{{ reglamento.archivo.url }}" type="application/pdf" width="700" height="100%">
              <iframe src="{{ reglamento.archivo.url }}" width="100%" height="700" style="border: none;">
              This browser does not support PDFs. Please download the PDF to view it: 
              <a href="{{ reglamento.archivo.url }}">Download PDF</a>
              </iframe>
            </object>-->
            <!--<object type="application/pdf" data="{{ reglamento.archivo.url }}" width="100%" height="700"></object>-->
            <!--<iframe
            src="#"
            frameBorder="0"
            scrolling="auto"
            height="700"
            width="100%"></iframe>-->

            <!--<embed src= "{{ reglamento.archivo.url }}" width= "700" height= "375" type="application/pdf">-->
            <!--<div class="list-group w-50">
            <a
                class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
                href="{{ reglamento.archivo.url }}"
                role="button"
                >Reglamento
            </a>-->
        {% endfor %}
      </div>
      <!--<p class="pt-2">En caso de no poder visualizar el documento,<a href="{{ reglamento.archivo.url }}"> descargar PDF.</a></p>-->
</div>
{% endblock contenido %}