<footer class="footer mt-auto py-3">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block text-white">
      <span class="fs-5">Redes Sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="text-white">
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Links  -->
  <section class="border-bottom">
    <div class="container text-center text-white text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-school me-3"></i>Colegio Jeanne D'arc
          </h6>
          <p>
            Somos un establecimiento particular subvencionado, con un enfoque
            católico de enseñanza pre-escolar y Básica.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Nosotros:</h6>
          <p>
            <a href="#!" class="text-reset">Historia</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Recepción:</h6>
          <p>
            <a href="#" class="text-reset">Horarios de atención:</a>
          </p>
          <p>
            <a href="#!" class="text-reset"
              >Lunes a viernes de 08:00 am hasta las 14:00 pm.</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contactános:</h6>
          <p>
            <i class="fas fa-home me-3"></i> Fernando Lassep, Cerro Los
            Placeres, Valparaíso.
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            CJEANNED@VTR.NET
          </p>
          <p><i class="fas fa-phone me-3"></i> (32) 296 8827</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="text-center p-4 text-white"
    style="background-color: rgba(0, 0, 0, 0.05)"
  >
    © 2023 Copyright:
    <a class="text-reset fw-bold text-white" href="#">Colegio Jeanne D'arc</a>
  </div>
  <!-- Copyright -->
</footer>
<script
  src="https://kit.fontawesome.com/124e4eedc6.js"
  crossorigin="anonymous"
></script>
