{% extends "base/base.html" %} {% block contenido %} {% load static %}
<div class="container">
    <h1 class="pt-5 pb-3 blue_colegio">Lista de Útiles 2023</h1>
    <p>Estimadas familias,
        <br>
        En los siguientes enlaces podrán descargar la lista de útiles escolares, por curso, correspondientes al Año Académico 2023:</p>
        <div class="row">
            <div class="col-sm-6 left d-flex justify-content-center">
                <div class="list-group w-50">
                    <button type="button" class="list-group-item list-group-item-action rounded-2 mb-3">Pre-Kínder</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">Kínder</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">Minuta de colación</button>
                </div>
            </div>
            <div class="col-sm-6 right d-flex justify-content-center">
                <div class="list-group w-50">
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3 text-white blue_btn">1° básico</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3 blue_btn">2° básico</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">3° básico</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">4° básico</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">5° básico</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">6° básico</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">7° básico</button>
                    <button type="button" class="list-group-item list-group-item-action rounded-4 mb-3">8° básico</button>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-sm-6 left">
              <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" class="list-group-item list-group-item-action">1° año básico</button>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 right">
              <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" class="list-group-item list-group-item-action px-1">1° año básico</button>
                </li>
              </ul>
            </div>
          </div>-->
</div>
{% endblock contenido %}