{% extends "base/base.html" %} {% block contenido %} {% load static %}
<h1 class="pt-5 pb-3 blue_colegio">
  <i class="fa-solid fa-clipboard-list"></i> Lista de Útiles 2023
</h1>
<hr class="my-1 blue_colegio" style="border-top: 2px solid; opacity: 1" />
<div>
  <p class="mb-5">
    Estimadas familias,
    <br />
    En los siguientes enlaces podrán descargar la lista de útiles escolares, por
    curso, correspondientes al Año Académico 2023:
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 left d-flex justify-content-center">
      <div class="list-group w-50">
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >Pre Kínder</a
        >
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >Kínder</a
        >
        <a
          class="btn btn-primary blue_btn rounded-pill list-group-item mb-3"
          href="#"
          role="button"
          >Colación</a
        >
      </div>
    </div>
    <div class="col-sm-4 center d-flex justify-content-center">
      <div class="list-group w-50">
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >1° Básico</a
        >
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >2° Básico</a
        >
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >3° Básico</a
        >
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >4° Básico</a
        >
      </div>
    </div>
    <div class="col-sm-4 right d-flex justify-content-center">
      <div class="list-group w-50">
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >5° Básico</a
        >
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >6° Básico</a
        >
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >7° Básico</a
        >
        <a
          class="btn btn-primary blue_btn list-group-item rounded-pill mb-3"
          href="#"
          role="button"
          >8° Básico</a
        >
      </div>
    </div>
  </div>

  <!--<div class="row">
            <div class="col-sm-6 left">
              <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" class="list-group-item list-group-item-action">1° año básico</button>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 right">
              <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" class="list-group-item list-group-item-action px-1">1° año básico</button>
                </li>
              </ul>
            </div>
          </div>-->
</div>
{% endblock contenido %}
